.welcome-block {
    margin-top: 50px;
    text-align: center;
    font-size: 1.75em;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    font-size: 1.25em;
}