html {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(#000046, #1CB5E0) no-repeat;
    font-family: monospace;
    color: aliceblue;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: lightblue;
}